.breadcrumb {
    font-weight: 300;
    font-size: x-small;

    @include media-breakpoint-up(lg) {
        font-size: 1rem;
    }

    &-item {
        color: $muted;

        a {
            color: $muted;

            @include hover {
                color: $body-color;
            }
        }
    }
}