.card-center-page {
    max-width: 390px;
    border-radius: 1rem;

    &-sm {
        max-width: 290px;
        min-height: 152px;
        border-radius: 0.5rem;
    }

    .form-control {
        border-color: #DDDDDD;

        &-lg {
            font-size: 1rem;
        }

        &::placeholder {
            color: #DDDDDD;
        }
    }
}

.card-product {
    border-width: 0;

    .card {
        &-img {
            position: relative;
            text-align: center;
            height: 220px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 100%;
            }

            &-overlay {
                top: 10px;
                bottom: auto;
                padding: 0;
                display: flex;
                font-size: small;

                @include media-breakpoint-down(sm) {
                    font-size: x-small;
                }

                .form-check {
                    padding-left: calc(20px + 0.25rem);
                    margin-left: auto;

                    &-input {
                        display: none;

                        &:checked {
                            ~.form-check-label {
                                &::before {
                                    background: url('../images/icons/like.svg') no-repeat center center;
                                    background-size: contain;
                                }
                            }
                        }
                    }

                    &-label {
                        cursor: pointer;
                        font-weight: 500;
                        color: $text-muted;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 20px;
                            height: 20px;
                            background: url('../images/icons/unlike.svg') no-repeat center center;
                            background-size: contain;
                        }
                    }
                }
            }
        }

        &-tag {
            position: relative;
            padding: 0.15rem 0.5rem;
            border-top-right-radius: 10rem;
            border-bottom-right-radius: 10rem;
            color: white;
            margin-left: -8px;

            &::before {
                content: '';
                position: absolute;
                bottom: -8px;
                left: 0;
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-top: 8px solid;
            }

            &-red {
                background-color: $bt-red;

                &::before {
                    border-top-color: darken($bt-red, 10%);
                }
            }

            &-bluesky {
                background-color: $bt-bluesky;

                &::before {
                    border-top-color: darken($bt-bluesky, 10%);
                }
            }
        }

        &-body {
            padding-left: 0;
            padding-right: 0;
        }

        &-title {
            color: $body-color;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &-price {
            color: $bt-blue;
        }
    }
}

.card-view-more {
    border-width: 0;

    .card {
        &-img {
            width: auto;
            height: 220px;
            object-fit: contain;
            display: flex;
            justify-content: center;
            align-items: center;

            &-overlay {
                background-color: rgba(black, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: inherit;

                span {
                    position: relative;
                    color: white;
                    text-transform: uppercase;
                }
            }
        }
    }

    &:hover {
        .card-img-overlay {
            background-color: rgba(black, 0.8);
        }
    }
}

.card-similar-product {
    border-width: 0;
    text-align: center;
    color: $body-color;

    .card {
        &-body {
            padding-left: 0;
            padding-right: 0;
        }

        &-price {
            color: $bt-blue;
            margin-bottom: 0;
        }
    }
}

.card-add-credit {
    padding: 1rem;
    flex-direction: row;
    align-items: center;

    @include media-breakpoint-up(lg) {
        padding-left: calc(20px + 2rem);
    }

    b {
        font-weight: 600;
    }

    .add {
        margin-left: auto;
    }
}