select.form-control {
    background: $input-bg url('../images/icons/angle-down.svg') no-repeat right 0.75rem center;
    background-size: auto;
    appearance: none;
    padding-right: 2rem;
}

.form-check:not(.form-check-like) {
    padding-left: 30px;

    .form-check {
        &-input[type='checkbox'] {
            display: none;

            &:checked~.form-check-label:before {
                background: $input-bg url('../images/icons/tick.svg') no-repeat center center;
                background-size: 60%;
            }

            &~.form-check-label {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -30px;
                    width: 20px;
                    height: 20px;
                    border: 1px solid $input-border-color;
                    border-radius: 2px;
                }
            }
        }

        &-input[type='radio'] {
            display: none;

            &:checked~.form-check-label:before {
                background: $input-bg url('../images/icons/dot.svg') no-repeat center center;
                background-size: 40%;
            }

            &~.form-check-label {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -30px;
                    width: 20px;
                    height: 20px;
                    border: 1px solid $input-border-color;
                    border-radius: 100%;
                }
            }
        }
    }
}

.input-group {
    &.bootstrap-touchspin {
        max-width: 105px;
        margin: 0 auto;
    }

    .form-control {
        border-left: 0;
        border-right: 0;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    &-btn {
        .btn {
            border-color: $input-border-color;
            color: $input-border-color;
        }
    }

    &-prepend {
        .btn {
            border-right: 0;
        }
    }

    &-append {
        .btn {
            border-left: 0;
        }
    }
}

.form-check-like {
    padding-left: calc(20px + 0.25rem);
    margin-left: auto;

    .form-check {
        &-input {
            display: none;

            &:checked {
                ~.form-check-label {
                    &::before {
                        background: url('../images/icons/like.svg') no-repeat center center;
                        background-size: contain;
                    }
                }
            }
        }

        &-label {
            cursor: pointer;
            font-weight: 500;
            color: $text-muted;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                background: url('../images/icons/unlike.svg') no-repeat center center;
                background-size: contain;
            }
        }
    }
}

.form-check-payment {

    .form-check {
        &-input {
            display: none;

            &:checked~.form-check-label {
                border-color: $info;

                &:before {
                    background: $input-bg url('../images/icons/dot.svg') no-repeat center center;
                    background-size: 40%;
                }
            }

            &~.form-check-label {
                position: relative;
                padding-left: calc(20px + 2rem);

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 1rem;
                    width: 20px;
                    height: 20px;
                    transform: translateY(-50%);
                    border: 1px solid $input-border-color;
                    border-radius: 100%;
                }
            }
        }

        &-label {
            display: flex;
            border: 1px solid $input-border-color;
            border-radius: 5px;
            padding: 1rem;

            .detail {
                h6 {
                    font-weight: 500;
                }

                small {
                    display: block;
                }

                b {
                    font-weight: 600;
                }
            }

            .add {
                margin-left: auto;
                display: flex;
                align-items: center;

                h6 {
                    margin-bottom: 0;
                    font-weight: 500;
                    margin-right: 0.25rem;
                    color: $info;
                }
            }
        }
    }
}

.form-control-birthdate {
    text-align: right;
}

.form-control.datepicker {
    background: $input-bg url('../images/icons/calendar-alt.svg') no-repeat right .75rem center;
    background-size: auto;
    text-align: right;
    padding-right: 2.75rem;
}

.form-check-point {
    text-align: center;
    margin-bottom: .5rem;

    .form-check {
        &-input {
            display: none;

            &:checked~.form-check-label {
                border-color: $secondary;
            }
        }

        &-label {
            display: block;
            border: 3px solid transparent;
            padding: 1rem .5rem;
            border-radius: 5px;
            background-color: $bt-yellow;
            cursor: pointer;

            .point {
                font-weight: 500;
            }

            .price {
                background-color: $secondary;
                display: block;
                padding: .25rem 0;
                color: white;
                border-radius: 10rem;
                font-weight: 600;
            }
        }
    }
}

td.form-check {
    padding-left: 0 !important;
    padding-right: 0 !important;

    .form-check-label {
        width: 20px;
        height: 20px;

        &::before {
            left: 0 !important;
        }
    }
}

.form-check-card {
    .form-check {
        &-input {
            display: none;

            &:checked~.form-check-label {
                border-color: $info;

                &:before {
                    background: $input-bg url('../images/icons/dot.svg') no-repeat center center;
                    background-size: 40%;
                }
            }

            &~.form-check-label {
                position: relative;
                padding-left: calc(20px + 2rem);

                &::before {
                    content: '';
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    width: 20px;
                    height: 20px;
                    border: 1px solid $input-border-color;
                    border-radius: 100%;
                }
            }
        }

        &-label {
            display: flex;
            border: 1px solid $input-border-color;
            border-radius: 5px;
            padding: 1rem;
            cursor: pointer;

            .detail {
                &-name {
                    font-weight: 500;
                    margin-bottom: .25rem;
                }

                &-address {
                    margin-bottom: 0.5rem;
                }

                &-note {
                    color: $muted;
                    font-weight: 300;
                    font-size: small;
                }
            }

            .action {
                display: flex;

                a {
                    @include hover {
                        opacity: .6;
                    }
                }

                &-edit {
                    margin-right: 0.5rem;
                }

                &-delete {
                    color: $danger;
                }
            }
        }
    }
}