header {
  background-color: $bt-red;
  position: fixed;
  width: 100%;
  z-index: $zindex-fixed;
  box-shadow: $box-shadow;
  text-transform: uppercase;
  font-weight: 600;

  .navbar-brand {
    @include media-breakpoint-down(md) {
      margin-right: 0;

      img {
        max-height: 40px;
      }
    }
  }

  .nav-language {
    a {
      color: white;

      &.active {
        color: $bt-orange;
      }
    }
  }

  .nav-item {
    &.dropdown {
      .dropdown {
        &-toggle {
          &::after {
            display: none;
          }
        }

        &-menu {
          border-width: 0;
          box-shadow: $box-shadow;

          .btn {
            text-transform: uppercase;
            white-space: nowrap;
          }
        }
      }

      &-cart {
        text-transform: capitalize;

        .dropdown {
          &-item {
            display: flex;
            white-space: normal;
            padding: 1rem 0;
          }

          &-img img {
            width: 65px;
            height: 65px;
            object-fit: contain;
          }

          &-detail {
            padding: 0 .25rem;
          }
        }
      }
    }
  }

  .nav-link {

    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  .form-search {
    margin-left: auto;

    .input-group {
      &-append {
        margin-left: 0;

        .btn {
          border-width: 0;
          background-color: rgba(black, .15);
          color: white;
        }
      }

      .form-control {
        border-width: 0;
        background-color: rgba(black, .15);
        color: white;

        &::placeholder {
          color: white;
        }
      }
    }
  }
}

.promo-header {
  background-color: $warning;
  color: $bt-blue;
  padding: 0.5rem 0 0;

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &-icon {
    margin-right: 0.5rem;

    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
  }

  @include media-breakpoint-down(sm) {
    font-size: 11px;

    &-icon {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}