header {
  background-color: $bt-red;
  position: fixed;
  width: 100%;
  z-index: $zindex-fixed;
  box-shadow: $box-shadow;
  text-transform: uppercase;
  font-weight: 600;
  .nav-language {
    a {
      color: white;
      &.active {
        color: $bt-orange;
      }
    }
  }
}
