.nav-my-account {
    flex-direction: column;

    .nav {
        &-link {
            color: $body-color;
            padding-left: 0;
            padding-right: 0;
            @include rfs(18);

            &:hover {
                color: $bt-blue;
            }

            &.active {
                font-weight: 600;
            }
        }
    }
}