.pagination-circle {
    .page {
        &-item:not(:last-child) {
            margin-right: .25rem;
        }

        &-link {
            width: 30px;
            height: 30px;
            border-radius: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $bt-light;
            border-width: 0;
            color: $muted;
            font-size: small;
        }
    }
}