.sidebar {
    &-catagory {
        .custom-checkbox .custom-control-label::before {
            border-radius: 0;
        }
    }

    &-recent-product {
        ul {
            li {

                a {
                    .list {
                        &-img {
                            img {
                                width: 65px;
                                height: 65px;
                                object-fit: contain;
                            }
                        }

                        &-text {
                            color: $body-color;
                        }
                    }
                }
            }
        }
    }
}